.container {
  background-color: var(--about-bgd-color);
  position: relative;
  color: var(--about-default-font-color);
  height: 100%;
}

.withBox {
  background-color: var(--about-box-color);
}

.estimateDiv {
  padding: 2% 0% 6% 0;
  width: 60%;
  margin: 0 auto;
}

.testimonialDiv {
  padding: 4% 5%;
}

.teamDiv {
  padding: 0 5%;
}

@media screen and (max-width: 990px) {
  .titleDiv {
    width: 80%;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .aboutImg {
    height: 510px;
  }

  .titleDiv {
    width: 100%;
  }

  .estimateDiv {
    width: 90%;
  }
}