.container {
  background-color: var(--about-bgd-color);
  position: relative;
  color: var(--about-default-font-color);
  height: 100%;
}

.aboutImg {
  height: 500px;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleDiv {
  padding: 5% 7%;
  position: absolute;
  width: 60%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.withBox {
  background-color: var(--about-box-color);
}

.desc {
  margin-top: 5%;
}

.estimateDiv {
  padding: 2% 0% 6% 0;
  width: 60%;
  margin: 0 auto;
}

.testimonialDiv {
  padding: 4% 5%;
}

@media screen and (max-width: 990px) {
  .titleDiv {
    width: 80%;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .aboutImg {
    height: 310px;
  }

  .titleDiv {
    width: 100%;
  }

  .estimateDiv {
    width: 90%;
  }
}