.container {
  background-color: var(--about-bgd-color);
  color: var(--about-default-font-color);
  padding-top: 6%;
  height: 100%;
}

.aboutImg {
  height: 700px;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleDiv {
  padding: 5% 7%;
  position: absolute;
  width: 60%;
  top: 27%;
  left: 0;
  right: 0;
  margin: auto;
}

.withBox {
  background-color: var(--about-box-color);
}

.title {
  color: var(--about-title-color);
  font-size: 3.5rem;
}

.desc {
  line-height: 34px;
  font-size: 1.3rem;
  margin-top: 5%;
  color: var(--about-desc-color);
}

.estimateDiv {
  padding: 2% 0% 6% 0;
  width: 60%;
  margin: 0 auto;
}

.testimonialDiv {
  margin: 4% 5%;
}

@media screen and (max-width: 990px) {
  .container {
    padding-top: 10%;
  }

  .titleDiv {
    width: 80%;
    top: 22%;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .aboutImg {
    height: 650px;
  }

  .titleDiv {
    width: 100%;
  }

  .estimateDiv {
    width: 90%;
  }
}