.container {
  background-color: var(--home-bgd-color);
}

.businessInfoContainer {
  color: var(--home-business-font-color);
}

.withoutBox {
  top: 50%;
  background-color: transparent;
}

.boxLeft, .boxCenter {
  top: 25%;
  background-color: var(--home-accent-box);
}

.boxLeft {
  width: 65%;
}

.boxCenter {
  width: 1200px;
}

.noImg {
  width: 100%;
  position: inherit;
  padding: 15% 5% 5% 5%;
}

.withImg {
  position: absolute;
  padding: 3% 0 6% 1%;
}

.imgContainer {
  position: relative;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceDiv {
  margin: 5%;
}

.serviceTitle {
  margin: 4% 0 5% 0;
  color: var(--home-title);
  font-size: 2.3rem;
}

.estimateDiv {
  padding: 2% 0% 15% 0;
  width: 60%;
  margin: 0 auto;
}

.testimonialDiv {
  padding: 5%;
}


@media screen and (max-width: 1200px) {
  .businessInfoContainer {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .businessInfoContainer {
    padding: 16% 0 9% 1%;
    position: static;
    margin-bottom: 10%;
  }

  .imgContainer {
    display: none;
  }

  .estimateDiv {
    width: 90%;
  }
}