.container {
  background-color: var(--home-bgd-color);
}

.businessInfoContainer {
  color: var(--home-business-font-color);
}

.serviceDiv {
  margin: 5% 0 0 5%;
}

.serviceTitle {
  color: var(--home-title);
  font-size: 2.3rem;
}

.testimonialDiv {
  padding: 1%;
}

.mobileView {
  display: none;
}

@media screen and (max-width: 990px) {
  .mobileView {
    display: block;
  }
}
