.wrapper {
  padding-top: 10%;
  height: 100vh;
}

.msgDiv {
  border-radius: 10px;
  padding: 9% 10%;
  margin: 5% 10%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 5%;
  justify-content: center;
  align-items: center;
}

.msg {
  margin: 0 0 5% 0;
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 400;
  color: var(--msg-font-color);
}

.success, .error {
  box-shadow: var(--msg-font-color) 0px 3px 8px;
}

.msgBtn {
  font-weight: 200;
  font-size: 1rem;
}

.msgBtn a {
  border-bottom: 1px solid var(--message-back-btn-color);
  padding-bottom: 1%;
  color: var(--message-back-btn-color);
}

.msgBtn:hover a {
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .wrapper {
    padding-top: 20%;
  }
}

@media screen and (max-width: 700px) {
  .msgDiv {
    grid-template-columns: 100%;
  }

  .imgContainer {
    margin: 0 auto;
    width: 50%;
  }
}