.menuIcon {
  display: block;
  padding: 3%;
}

.nav {
  background-color: var(--nav-bgd-color);
}

.menuLine {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--mobile-menu-color);
}

.menuLine:not(:last-child) {
  margin-bottom: 10px;
}

.menuIcon:hover {
  cursor: pointer;
}

.ul {
  display: none;
}

.isSelected {
  background-color: var(--nav-mobile-hover);
  color: var(--nav-text-color);
}

.li {
  font-size: 1.3rem;
  color: var(--nav-text-color);
  padding: 2% 0 2% 1%;
  width: 100%;
}

.li:first-child {
  margin-top: 2%;
}

.notSelected:hover {
  background-color: var(--nav-mobile-hover);
  color: var(--nav-text-color);
  cursor: pointer;
}

@media screen and (min-width: 990px) {
  .nav {
    padding-left: 12%;
  }

  .menuIcon {
    display: none;
  }

  .ul {
    display: block !important;
  }

  .li:first-child {
    margin-top: 0;
  }
  
  .li {
    display: inline-flex;
    padding: 1.2%;
    width: auto;
  }
  
  .li:last-child {
    margin-bottom: 0%;
  }

  .isSelected {
    background-color: var(--nav-text-color);
    color: var(--nav-bgd-color);
  }

  .notSelected:hover {
    background-color: var(--nav-mobile-hover);
    color: var(--nav-text-color);
    cursor: pointer;
  }
}