.container {
  background-color: var(--home-bgd-color);
}

.businessInfoContainer {
  color: var(--home-business-font-color);
}

.serviceDiv {
  margin: 5%;
}

.serviceTitle {
  margin: 0% 0 1% 0;
  color: var(--home-title);
  font-size: 2.3rem;
}

.estimateDiv {
  padding: 2% 0% 15% 0;
  width: 60%;
  margin: 0 auto;
}

.testimonialDiv {
  padding: 5%;
}

@media screen and (max-width: 1000px) {
  .estimateDiv {
    width: 90%;
  }
}